{% extends 'wiki/base_page.html' %}
{% load static %}
{% block head %}
<title>WikiRace - Игра окончена</title>
<script src="{% static 'wiki/card_toggle.js' %}"></script>
<script src="{% static 'wiki/end_page.js' %}"></script>
<script src="{% static 'wiki/qrcode.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'wiki/styles/win_page_style.css' %}">
{% endblock %}

{% block title %}
<div class="logo-wikirace">
    <span>{{title_text}}</span>
</div>
{% endblock %}

{% block buttonBar %}
<div class="button">
    <a href="/" class="image-button">
        <img src="{% static 'wiki/icons/baseline-home-24px.svg' %}" alt="домой" title="дом">
    </a>
</div>
{% endblock %}

{% block drawerContent %}
{% endblock %}

{% block extra %}
{% endblock %}

{% block content %}
<div class="card">
    <a href="/game_start">
        <div class="card-image-box card-image-box-continue">
            <img src="{% static 'wiki/icons/baseline-play_arrow-24px.svg' %}" alt="Play">
        </div>
        <div class="card-content-box">
            <div class="card-content-box card-content-box-header">
                Играть
            </div>
            <div class="card-content-box card-content-box-text">
                Начать новую игру
            </div>
        </div>
    </a>
</div>
<div class="card">
    <a href="/">
        <div class="card-image-box card-image-box-home">
            <img src="{% static 'wiki/icons/baseline-home-black-24px.svg' %}" alt="Home">
        </div>
        <div class="card-content-box">
            <div class="card-content-box card-content-box-header">
                Домой
            </div>
            <div class="card-content-box card-content-box-text">
                Возврат в главное меню
            </div>
        </div>
    </a>
</div>
<div class="card">
    <div class="card-image-box card-image-box-stats">
        <img src="{% static 'wiki/icons/baseline-assessment-24px.svg' %}" alt="stats">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Статистика
        </div>
        <div class="card-content-box card-content-box-text">
			<span>
				{{counter}} ход{{move_end}}
				<br/>
				из {{from}}
				<br/>
				в <a href="/hint_page"> {{to}} </a>
			</span>
        </div>
    </div>
</div>
<div class="card">
    <a href="/show_path_page">
        <div class="card-image-box card-image-box-path">
            <img src="{% static 'wiki/icons/baseline-swap_calls-24px.svg' %}" alt="stats">
        </div>
        <div class="card-content-box">
            <div class="card-content-box card-content-box-header">
                Показать возможный путь
            </div>
        </div>
    </a>
</div>
<div class="card visible" id="card-leaderboard">
    <div class="close-button invisible" id="close-leaderboard">
        <img src="{% static 'wiki/icons/baseline-close-24px.svg' %}" alt="close">
    </div>
    <div class="card-image-box card-image-box-leaderboard">
        <img src="{% static 'wiki/icons/award.svg' %}" alt="Кубок">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Таблица результатов
        </div>
        <div class="card-content-box card-content-box-text block-leaderboard visible">
            Результаты других игроков
        </div>
        <div class="card-content-box card-content-box-text block-leaderboard invisible table-content">
            <div class="switch card-content-box-text block-leaderboard invisible switch-checked" id="friends-button">
                Друзья
            </div>
            <div class="switch card-content-box-text block-leaderboard invisible" id="global-button">
                Общий рейтинг
            </div>
            <div class="table block-leaderboard invisible" id="friends-table">
                <table>
                    <tr>
                        <th> Место</th>
                        <th> Имя</th>
                        <th> Результат</th>
                    </tr>
                    {% for item in results_table.private_table %}
                    <tr>
                        <td> {{ forloop.counter }}</td>
                        <td> {{ item.name }}</td>
                        <td> {{ item.steps }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="table block-leaderboard invisible closed" id="global-table">
                <table>
                    <tr>
                        <th> Место</th>
                        <th> Имя</th>
                        <th> Результат</th>
                    </tr>
                    {% for item in results_table.global_table %}
                    <tr>
                        <td> {{ forloop.counter }}</td>
                        <td> {{ item.name }}</td>
                        <td> {{ item.steps }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card visible" id="card-share">
    <div class="close-button invisible" id="close-share">
        <img src="{% static 'wiki/icons/baseline-close-24px.svg' %}" alt="close">
    </div>
    <div class="card-image-box card-image-box-share">
        <img src="{% static 'wiki/icons/baseline-share-24px.svg' %}" alt="share">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Поделиться
        </div>
        <div class="card-content-box card-content-box-text block-share invisible centered">
            <div id="qrcode"></div>
            <script type="text/javascript">
                new QRCode(document.getElementById("qrcode"), "{{host}}/results_of_game/{{key}}");
            </script>
        </div>
        <div class="card-content-box card-content-box-text centered">
            <input type="text" value="http://{{host}}/join_game/{{key}}" id="link">
            {{key}}
            <div class="card-content-box card-content-box-text" id="copy_link">
                <img src="{% static 'wiki/icons/baseline-file_copy-24px.svg' %}" alt="Copy">
            </div>
            <div class="card-content-box block-share invisible">
                <a href="http://{{host}}/results_of_game/{{key}}">Рейтинг</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}