<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WikiRace: Feedback</title>
    <link rel="stylesheet" href="{% static "wiki/feedback_page_style.css" %}">
</head>
<body>
<h1>
    Отзыв
</h1>
<form action="" method="post">
    {% csrf_token %}

    <div class="fieldWrapper">
        <label for="name">Имя:</label>
        <p>
            {{ form.name }}
        </p>
    </div>
    <div class="fieldWrapper">
        <label for="text">Текст:</label>
        <p>
            {{ form.text }}
        </p>
    </div>
    <input type="submit" value="Отправить">
</form>
</body>
</html>
