<html>
{% load static %}
<head>
    <title>WikiRace</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/style.css' %}">
</head>
<body>
    <div class="header">
        <div class="path">
            <div class="from">
                <span>From: {{ from }}</span>
            </div>
            <div class="to">
                <span>To: {{ to }}</span>
            </div>
        </div>
        <div class="counter">
            <span>{{ counter }}</span>
        </div>
    </div>
    <div class="side-bar">
    </div>
    <div class="wiki-window">
        {{ wikicontent |safe}}
    </div>
</body>
</html>
