{% extends 'wiki/base_page.html' %}
{% load static %}
{% block head %}
<title>Таблица результатов</title>
<script src="{% static 'wiki/card_toggle.js' %}"></script>
<script src="{% static 'wiki/end_page.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'wiki/styles/win_page_style.css' %}">
{% endblock %}

{% block title %}
<div class="logo-wikirace">
    <span>Результаты</span>
</div>
{% endblock %}

{% block buttonBar %}
<div class="button">
    <a href="/" class="image-button">
        <img src="{% static 'wiki/icons/baseline-home-24px.svg' %}" alt="домой" title="дом">
    </a>
</div>
{% endblock %}

{% block drawerContent %}
{% endblock %}

{% block extra %}
{% endblock %}

{% block content %}
<div class="card visible" id="card-leaderboard">
    <div class="close-button invisible" id="close-leaderboard">
        <img src="{% static 'wiki/icons/baseline-close-24px.svg' %}" alt="close">
    </div>
    <div class="card-image-box card-image-box-leaderboard">
        <img src="{% static 'wiki/icons/award.svg' %}" alt="Кубок">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Таблица результатов
        </div>
        <div class="card-content-box card-content-box-text block-leaderboard visible">
            Результаты других игроков
        </div>
        <div class="card-content-box card-content-box-text block-leaderboard invisible table-content">
            <div class="switch card-content-box-text block-leaderboard invisible switch-checked" id="friends-button">
                Друзья
            </div>
            <div class="switch card-content-box-text block-leaderboard invisible" id="global-button">
                Общий рейтинг
            </div>
            <div class="table block-leaderboard invisible" id="friends-table">
                <table>
                    <tr>
                        <th> Место</th>
                        <th> Имя</th>
                        <th> Результат</th>
                    </tr>
                    {% for item in private_table %}
                    <tr>
                        <td> {{ item.place }}</td>
                        <td> {{ item.name }}</td>
                        <td> {{ item.steps }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="table block-leaderboard invisible closed" id="global-table">
                <table>
                    <tr>
                        <th> Место</th>
                        <th> Имя</th>
                        <th> Результат</th>
                    </tr>
                    {% for item in global_table %}
                    <tr>
                        <td> {{ item.place }}</td>
                        <td> {{ item.name }}</td>
                        <td> {{ item.steps }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}