<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/style.css' %}">
    <link href="../../static/wiki/styles.css" rel="stylesheet">
</head>
<body>
<div class="toolbar">
    <div class="title">
        WikiRace
    </div>
    <div class="button_bar">
        <a href="/main" class="image_button">
            <img src="../../static/wiki/baseline-home-24px.svg" alt="undo">
        </a>
        <a href="/game_start" class="image_button">
            <img src="../../static/wiki/baseline-autorenew-24px.svg" alt="home">
        </a>
    </div>
</div>
<div class="block"></div>
<div class="info_card">
    <div>
        <div class="start_page">
            Старт: {{ from }}
        </div>
        <div class="finish_page">
            Финиш: {{ to }}
        </div>
    </div>
    <div class="block1"></div>
    <div>
        <div class="moves">
            Ходы: {{ counter }}
        </div>
    </div>
</div>
<div class="body">
    {{ wiki_content|safe }}
	<script src="../../static/wiki/jquery.js"></script>
</div>
<div class="moves_list">

</div>
<script language="javascript" type="text/javascript">
	$(window).on("load",function () {
		var anchors = $('a');
		
		for ( var i=0; i < anchors.length; i++ ) {
			if (anchors[i].className.includes("external"))
			{
				
				var span = $('<span>', {class: 'text'}).get(0);
				if ( anchors[i].id ) {
					span.id = anchors[i].id;
				}
				span.innerHTML = anchors[i].innerHTML;
				anchors[i].parentNode.replaceChild(span, anchors[i]);
			}
		}
	});
</script>
</body>
</html>