{% extends 'wiki/base_page.html' %}
{% load static %}
{% load hrefs %}

{% block head %}
<title>WikiRace</title>
<link rel="stylesheet" href="{% static 'wiki/styles/start_page_style.css' %}">
<script src="{% static 'wiki/card_toggle.js' %}"></script>
<script src="{% static 'wiki/start_page.js' %}"></script>
<script src="{% static 'wiki/rating_utils.js' %}"></script>
{% endblock %}

{% block title %}
<div class="logo-wikirace">
	<span>WikiRace</span>
</div>
{% endblock %}

{% block buttonBar %}
{% comment %} 
<div class="button" id="open-settings">
    <a>
        <img src="{% static 'wiki/icons/baseline-settings-20px.svg' %}" alt="Настройки" title="Настройки">
    </a>
</div>
{% endcomment %}
<div class="player-name-box">
	{{ settings.name }}
</div>
<div class="rating-box" id="full_rating">
	<div class="rating content-loading">
		{{ settings.rate }}
	</div>
</div>
{% endblock %}

{% block drawerContent %}
{% endblock %}

{% block extra %}
{% endblock %}

{% block content %}
{% csrf_token %}

{% if event_list|length > 0 %}
<div class="card visible with-gradient-border" id="card-event" >
    <div class="close-button invisible" id="close-event">
        <img src="{% static 'wiki/icons/baseline-close-24px.svg' %}" alt="close">
    </div>
    <div class="card-image-box card-image-box-event">
        <img src="{% static 'wiki/icons/event-24px.svg' %}" alt="Event">
    </div>
    <div class="card-content-box" id="event-content-box">
        <div class="card-content-box card-content-box-header">
            События
        </div>
        <div class="card-content-box card-content-box-text">
            Пройдите глобальные испытания за ограниченное время
        </div>
        {% for event in event_list %}
            <div class="card-content-box card-content-box-text event-box event-handler">
                <div class="event-name event-handler"> {{event.trial_name}} </div>
                <div class="expand-event event-handler">
                    <img src="{% static 'wiki/icons/baseline-expand_more-white-24px.svg' %}" class="expand-event-img">
                </div>
                <div class="time-left">
                    Осталось {{event.hours_left}}ч
                </div>
                <a href="{{"/custom_game_start/"|href}}{{event.trial_id}}" class="event-content invisible">
                    <div class="play-button-event">
                        Играть
                    </div>
                </a>
                <a href="{{"/results_of_trial/"|href}}{{event.trial_id}}" class="event-content invisible">
                    <div class="results-button-event">
                        Результаты
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if is_playing %}
<div class="card visible" id="card-continue">
    <div class="card-image-box card-image-box-continue">
        <img src="{% static 'wiki/icons/baseline-play_arrow-24px.svg' %}" alt="Play">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Продолжить
        </div>
        <div class="card-content-box card-content-box-text">
            Продолжить последнюю игру
        </div>
    </div>
</div>
{% endif %}
<div class="card visible" id="card-random">
    <div class="card-image-box card-image-box-random">
        <img src="{% static 'wiki/icons/baseline-casino-24px.svg' %}" alt="random">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Случайная игра
        </div>
        <div class="card-content-box card-content-box-text">
            Начальная и конечная страницы выбираются случайным образом
        </div>
    </div>
</div>
<div class="card visible" id="card-diff">
    <div class="card-image-box card-image-box-diff">
        <img src="{% static 'wiki/icons/baseline-fitness_center-24px.svg' %}" alt="difficulty">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Игра с настройкой сложности
        </div>
        <div class="card-content-box card-content-box-text">
            Начальная и конечная страницы подобраны с учетом сложности игры
        </div>
        <select id="diff-field" class="card-content-box card-content-box-text">
            <option value="easy"
                    {% ifequal settings.difficulty "easy" %} selected="selected" {% endifequal %}>
                Просто
            </option>
            <option value="medium"
                    {% ifequal settings.difficulty "medium" %} selected="selected" {% endifequal %}>
                Нормально
            </option>
            <option value="hard"
                    {% ifequal settings.difficulty "hard" %} selected="selected" {% endifequal %}>
                Сложно
            </option>
        </select>
        <div class="card-content-box play-button" id="diff-play">
            Играть
        </div>
    </div>
</div>
<div class="card visible" id="card-tutorial">
    <div class="close-button invisible" id="close-tutorial">
        <img src="{% static 'wiki/icons/baseline-close-24px.svg' %}" alt="close">
    </div>
    <div class="card-image-box card-image-box-tutorial">
        <img src="{% static 'wiki/icons/baseline-chrome_reader_mode-24px.svg' %}" alt="tutorial">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Обучение
        </div>
        <div class="card-content-box card-content-box-text block-tutorial visible">
            Узнайте об основных аспектах игры
        </div>
        <div class="card-content-box card-content-box-text block-tutorial invisible">
            Игра Wikirace - лучшее, что могло придумать человечество.
            Задача игрока - за как можно меньшее число ходов дойти из начальной статьи
            сайта <a href="https://ru.wikipedia.org/">русской википедии</a> до конечной,
            используя только внутренние ссылки ресурса.
            Качества, развиваемые этой игрой, можно перечислять бесконечно, но в их числе —
            неординарное мышление, быстрота реакции и смекалка.
            <p>Интерфейс игровой страницы:</p>
            В левом нижнем углу на всех страницах, кроме начальной, находится кнопка "Назад"
             — на тот случай, если смекалка или ее отсутствие завели вас куда-то не туда, вы можете
            нажать на нее и перейти на предыдущую страницу.
            <p>Если в качестве целевой статьи вам попалось нечто с названием
            "Ыджыдвож", самое время расширить свой кругозор, ведь интерфейс игры позволяет
            попасть на конечную страницу, нажав на ее название, и просмотреть ее содержание.</p>
            В правом верхнем углу игровой страницы находятся три кнопки:
            <p>Сдаться (нажимайте ее, если надоело играть):
            <img style="margin-bottom: -6px" src="{% static 'wiki/icons/baseline-flag-24px.svg' %}" title="Сдаться">
            </p>
            <p>Домой (вернет вас на домашнюю страницу):
            <img style="margin-bottom: -6px" src="{% static 'wiki/icons/baseline-home-24px.svg' %}" title="Домой">
            </p>
            <p>Начать заново (начнет для вас новую игру):
            <img style="margin-bottom: -6px" src="{% static 'wiki/icons/baseline-autorenew-24px.svg' %}" title="Заново">
            </p>
            Если вы нажмете "Сдаться" или выиграете, сможете сравнить свой путь с путем,
            сгенерированным программой.
            <p>На выбор предлагается несколько вариантов игры:</p>
            <p>
                Случайный — мы случайно выбрали начальную статью и сделали из нее 5 случайных
                шагов, и предлагаем вам найти более короткий путь, если он существует.
            </p>
            <p>
                С настройкой сложности — легкий уровень гарантирует, что от стартовой статьи до
                конечной можно дойти за 2 шага, средний — за 4, а тяжелый гарантирует, что путь
                существует.
            </p>
            Вы также можете попробовать свои силы в публичных испытаниях, придуманных разработчиками.
            <p>Дерзайте!</p>
            P.S. Свои вопросы, предложения и рекомендации можете оставлять
            <a href="https://t.me/iliamikado">Илье</a> и
            <a href="https://vk.com/id216723976">Илье</a>.
            <br/>
        </div>
    </div>
</div>

{% comment %} 

<div class="card visible" id="card-user-game">
    <div class="close-button invisible" id="close-user-game">
        <img src="{% static 'wiki/icons/baseline-close-24px.svg' %}" alt="close">
    </div>
    <div class="card-image-box card-image-box-user">
        <img src="{% static 'wiki/icons/baseline-face-24px.svg' %}" alt="random">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Игры пользователей
        </div>
        <div class="card-content-box card-content-box-text block-user-game visible">
            Начать игру по id
        </div>
        <div class="block-user-game invisible">
            <div class="card-content-box card-content-box-text">
                Введите id игры, полученный от другого игрока, и получите возможность
                пройти по его маршруту и улучшить его результат.
            </div>
            <div class="card-content-box card-content-box-text">
                <form>
                    <input type="number" min="0" step="1" value="0" id="game-id">
                </form>
            </div>
            <div class="card-content-box play-button" id="id-play">
                Играть
            </div>
        </div>
    </div>
</div>
{%endcomment%}
<div class="card visible" id="card-trial">
    <div class="close-button invisible" id="close-trial">
        <img src="{% static 'wiki/icons/baseline-close-24px.svg' %}" alt="close">
    </div>
    <div class="card-image-box card-image-box-trial">
        <img src="{% static 'wiki/icons/baseline-videogame_asset-24px.svg' %}" alt="random">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Испытания
        </div>
        <div class="card-content-box card-content-box-text block-trial visible">
            Пройдите испытания, придуманные разработчиками
        </div>
        <div class="block-trial invisible" id="trials">
            {% for trial in trial_list %}
            <a href="{{"/custom_game_start/"|href}}{{trial.trial_id}}">
                <div class="card-content-box trial-play">
                    <span>
                        {{ trial.trial_name }}
                    </span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="card visible" id="card-global-rating">
    <div class="card-image-box card-image-box-leaderboard">
        <img src="{% static 'wiki/icons/award.svg' %}" alt="random">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Найдите себя в глобальном рейтинге
        </div>
    </div>
</div>
{%comment%}
<div class="card visible" id="card-settings">
    <div class="close-button invisible" id="close-settings">
        <img src="{% static 'wiki/icons/baseline-close-24px.svg' %}" alt="close">
    </div>
    <div class="card-image-box card-image-box-settings">
        <img src="{% static 'wiki/icons/baseline-settings_black-20px.svg' %}" alt="settings">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Настройки
        </div>
        <div class="card-content-box card-content-box-text block-settings invisible">
            <label for="name"> Имя: </label>
            <input id="name" type="text" maxlength="16">
            <div class="submit-button" id="name-button">
                Сохранить
            </div>
        </div>
    </div>
</div>
{% if settings.name_init_needed %}
<script>
    $(document).ready(() => {
       toggleGameCard('name');
    });
</script>
<div class="card visible" id="card-name">
    <div class="close-button invisible" id="close-name">
        <img src="{% static 'wiki/icons/baseline-close-24px.svg' %}" alt="close">
    </div>
    <div class="card-image-box card-image-box-name">
        <img src="{% static 'wiki/icons/baseline-face-24px.svg' %}" alt="Face">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Привет, как тебя зовут?
        </div>
        <div class="card-content-box card-content-box-text block-name invisible">
            <label for="name-first"> Введи имя: </label>
            <input id="name-first" type="text" value="" maxlength="16">
            <div class="submit-button" id="name-first-button">
                Сохранить
            </div>
        </div>
    </div>
</div>
{% endif %}
{%endcomment%}
{% endblock %}
