{% extends 'wiki/base_page.html' %}
{% load static %}

{% block head %}
<title>WikiRace</title>
<link rel="stylesheet" href="{% static 'wiki/styles/start_page_style.css' %}">
<script src="{% static 'wiki/card_toggle.js' %}"></script>
<script src="{% static 'wiki/start_page.js' %}"></script>
{% endblock %}

{% block title %}
<div class="logo-wikirace">
	<span>WikiRace</span>
</div>
{% endblock %}

{% block buttonBar %}
<div class="button" id="open-settings">
    <a>
        <img src="{% static 'wiki/icons/baseline-settings-20px.svg' %}" alt="Настройки" title="Настройки">
    </a>
</div>
{% endblock %}

{% block drawerContent %}
{% endblock %}

{% block extra %}
{% endblock %}

{% block content %}
{% csrf_token %}

{% if is_playing %}
<div class="card visible" id="card-continue">
    <div class="card-image-box card-image-box-continue">
        <img src="{% static 'wiki/icons/baseline-play_arrow-24px.svg' %}" alt="Play">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Продолжить
        </div>
        <div class="card-content-box card-content-box-text">
            Продолжить последнюю игру
        </div>
    </div>
</div>
{% endif %}
<div class="card visible" id="card-random">
    <div class="card-image-box card-image-box-random">
        <img src="{% static 'wiki/icons/baseline-casino-24px.svg' %}" alt="random">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Случайная игра
        </div>
        <div class="card-content-box card-content-box-text">
            Начальная и конечная страницы выбираются случайным образом
        </div>
    </div>
</div>
<div class="card visible" id="card-diff">
    <div class="card-image-box card-image-box-diff">
        <img src="{% static 'wiki/icons/baseline-fitness_center-24px.svg' %}" alt="difficulty">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Игра со сложностью
        </div>
        <div class="card-content-box card-content-box-text">
            Начальная и конечная страницы подобраны с учетом сложности игры
        </div>
        <select id="diff-field" class="card-content-box card-content-box-text">
            <option value="easy"
                    {% ifequal settings.difficulty "easy" %} selected="selected" {% endifequal %}>
                Просто
            </option>
            <option value="medium"
                    {% ifequal settings.difficulty "medium" %} selected="selected" {% endifequal %}>
                Нормально
            </option>
            <option value="hard"
                    {% ifequal settings.difficulty "hard" %} selected="selected" {% endifequal %}>
                Сложно
            </option>
        </select>
        <div class="card-content-box play-button" id="diff-play">
            Играть
        </div>
    </div>
</div>
<div class="card visible" id="card-tutorial">
    <div class="close-button invisible" id="close-tutorial">
        <img src="{% static 'wiki/icons/baseline-close-24px.svg' %}" alt="close">
    </div>
    <div class="card-image-box card-image-box-tutorial">
        <img src="{% static 'wiki/icons/baseline-chrome_reader_mode-24px.svg' %}" alt="tutorial">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Обучение
        </div>
        <div class="card-content-box card-content-box-text block-tutorial visible">
            Узнайте об основных аспектах игры
        </div>
        <div class="card-content-box card-content-box-text block-tutorial invisible">
            В данной игре за наименьшее число ходов необходимо добраться из начальной статьи в конечную.
            Для этого можно переходить по ссылкам на следующие страницы или
            возвращаться на предыдущую по кнопке в нижнем левом угле экрана.
            Также можно просмотреть информацию по целевой странице, нажав на ссылку на нее. <br/>
        </div>
    </div>
</div>
<!--
<div class="card visible" id="card-user-game">
    <div class="close-button invisible" id="close-user-game">
        <img src="{% static 'wiki/icons/baseline-close-24px.svg' %}" alt="close">
    </div>
    <div class="card-image-box card-image-box-user">
        <img src="{% static 'wiki/icons/baseline-face-24px.svg' %}" alt="random">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Игры пользователей
        </div>
        <div class="card-content-box card-content-box-text block-user-game visible">
            Начать игру по id
        </div>
        <div class="block-user-game invisible">
            <div class="card-content-box card-content-box-text">
                Введите id игры, полученный от другого игрока, и получите возможность
                пройти по его маршруту и улучшить его результат.
            </div>
            <div class="card-content-box card-content-box-text">
                <form>
                    <input type="number" min="0" step="1" value="0" id="game-id">
                </form>
            </div>
            <div class="card-content-box play-button" id="id-play">
                Играть
            </div>
        </div>
    </div>
</div>
-->
<div class="card visible" id="card-trial">
    <div class="close-button invisible" id="close-trial">
        <img src="{% static 'wiki/icons/baseline-close-24px.svg' %}" alt="close">
    </div>
    <div class="card-image-box card-image-box-trial">
        <img src="{% static 'wiki/icons/baseline-videogame_asset-24px.svg' %}" alt="random">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Испытания
        </div>
        <div class="card-content-box card-content-box-text block-trial visible">
            Пройдите испытания, придуманные разработчиками
        </div>
        <div class="block-trial invisible" id="trials">
            {% for trial in trial_list %}
            <a href="/custom_game_start/{{ trial.trial_id }}">
                <div class="card-content-box trial-play">
                    <span>
                        {{ trial.trial_name }}
                    </span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="card visible" id="card-settings">
    <div class="close-button invisible" id="close-settings">
        <img src="{% static 'wiki/icons/baseline-close-24px.svg' %}" alt="close">
    </div>
    <div class="card-image-box card-image-box-settings">
        <img src="{% static 'wiki/icons/baseline-settings_black-20px.svg' %}" alt="settings">
    </div>
    <div class="card-content-box">
        <div class="card-content-box card-content-box-header">
            Настройки
        </div>
        <div class="card-content-box card-content-box-text block-settings invisible">
            <label for="name"> Имя: </label>
            <input id="name" type="text" maxlength="16">
            <div class="submit-button">
                Сохранить
            </div>
        </div>
    </div>
</div>
{% endblock %}