<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/styles/win_page_style.css' %}">
    <script src="{% static 'wiki/drawer_logic.js' %}"></script>
    <title>WikiRace - Победа</title>
</head>
<body>
<div class="toolbar">
    <div class="menu-container mobile">
        <div id="menu-toggle">
            <input type="checkbox" id="checkbox" onchange="move_left_bar()"/>
            <span></span>
            <span></span>
            <span></span>
            <div> {# НЕ УБИРАТЬ, ДЕРЖИТ КРЕСТИК #}
            </div>
        </div>
    </div>
    <div class="title">
        <div class="logo-wikirace">
            <span>WikiRace</span>
        </div>
    </div>
    <div class="button-bar">
        <div class="button">
            <a href="/settings" class="image-button">
                <img src="{% static 'wiki/icons/baseline-settings-20px.svg' %}" alt="Settings">
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <a href="/game_start">
            <div class="card-image-box card-image-box-continue">
                <img src="{% static 'wiki/icons/baseline-play_arrow-24px.svg' %}" alt="Play">
            </div>
            <div class="card-content-box">
                <div class="card-content-box card-content-box-header">
                    Играть
                </div>
                <div class="card-content-box card-content-box-text">
                    Начать новую игру
                </div>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="/">
            <div class="card-image-box card-image-box-home">
                <img src="{% static 'wiki/icons/baseline-home-black-24px.svg' %}" alt="Home">
            </div>
            <div class="card-content-box">
                <div class="card-content-box card-content-box-header">
                    Домой
                </div>
                <div class="card-content-box card-content-box-text">
                    Возврат в главное меню
                </div>
            </div>
        </a>
    </div>
    <div class="card">
        <div class="card-image-box card-image-box-stats">
            <img src="{% static 'wiki/icons/baseline-assessment-24px.svg' %}" alt="stats">
        </div>
        <div class="card-content-box">
            <div class="card-content-box card-content-box-header">
                Статистика
            </div>
            <div class="card-content-box card-content-box-text">
                <span>
                    {{counter}} ход{{move_end}}
                    <br/>
                    из {{from}}
                    <br/>
                    в {{to}}
                </span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-image-box card-image-box-share">
            <img src="{% static 'wiki/icons/baseline-share-24px.svg' %}" alt="share">
        </div>
        <div class="card-content-box">
            <div class="card-content-box card-content-box-header">
                Поделиться
            </div>
            <div class="card-content-box card-content-box-text">
                <span>
                    id : {{game_id}}
                </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>