.loading_title {
    font-family: "OpenSans", sans-serif;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    font-size: 10vh;
    text-align: center;
}

.loading_circle {
    background: url("baseline-autorenew-24px_black.svg") no-repeat;
    background-size: contain;
    animation-name: anim;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    width: 10vh;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

body, html {
    margin: 0;
    padding: 0;
    border: 0;
}