* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
}

.left-side-bar {
    float: left;
    width: 500px;
    height: 100%;
    /*background-color: darkgrey;*/
    box-shadow: 10px 0px 20px darkgrey;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    word-wrap: break-word;
}

.logo {
    width: inherit;
    text-align: center;
    font-size: 60px;
}

.info {
    padding: 0px 15px;
    font-size: 25px;
}

.wiki-window {
    height: 100%;
    overflow-y: scroll;
}

/* -------- FONTS -------- */

@font-face {
    font-family: Gilroy;
    font-weight: bold;
    src: url("../fonts/Gilroy-Bold.ttf");
}
@font-face {
    font-family: Gilroy;
    font-weight: normal;
    src: url("../fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url("../fonts/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: normal;
    src: url("../fonts/OpenSans-Regular.ttf");
}

