.align-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating {
    position: relative;
    text-align: center;
    padding: 0px;

}

.content-loading {
    color: transparent;
    position: relative;
}

.content-loading:after {
    color: #ffffff;
    transform: translateX(-50%);
    font-family: monospace;
    white-space: pre;
    position: absolute;
    left: 50%;
    content: "...";
    animation: 0.5s linear 0s infinite normal content_loading;
}

.rating .original {
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.rating-full .original {
    visibility: visible;
}

.rating .edited {
    width: fit-content;
    height: fit-content;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.rating-full .edited {
    visibility: hidden;
}

@keyframes content_loading {
  0%   {content: "...";}
  25%  {content: " ..";}
  50%  {content: "  .";}
  75%  {content: ".  ";}
  100% {content: ".. ";}
}

.rating-table .rating .original {
    font-family: monospace;
    text-align: right;
    visibility: visible;
 }

 .rating-table .rating .edited {
    visibility: hidden;
 }

.rating-table th:nth-child(2) {
    max-width: 40%;
    width: 40%;
}

.rating-table th {
    text-overflow: ellipsis;
    overflow: hidden;
}

.rating-group-0 {
    font-size: smaller;
}

.rating-group-0K {
    color: #FFFF7F;
    font-style: bold;
}

.rating-group-0M {
    color: #DF7FDF;
    font-style: bold;
}