.align-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating {
    position: relative;
    font-family: monospace;
    text-align: center;
    white-space: pre;
}

.content-loading {
    color: transparent;
    position: relative;
}

.content-loading:after {
    color: #ffffff;
    transform: translateX(-50%);
    font-family: monospace;
    white-space: pre;
    position: absolute;
    left: 50%;
    content: "...";
    animation: 0.5s linear 0s infinite normal content_loading
}

.rating .original {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.rating-full .original {
    visibility: visible;
}

.rating .edited {
    width: fit-content;
    height: fit-content;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.rating-full .edited {
    visibility: hidden;
}

@keyframes content_loading {
  0%   {content: "...";}
  25%  {content: " ..";}
  50%  {content: "  .";}
  75%  {content: ".  ";}
  100% {content: ".. ";}
}

.right-original .original {
    text-align: right;
}
