* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Gilroy", sans-serif;
}

@media (min-device-width: 900px) {

    img {
        width: 15px;
        height: 15px;
    }

    .body {
        height: 100%;
        width: 100%;
    }

    .body .our_path {
        height: 100%;
        width: 50%;
        float: left;
    }

    .body .user_path {
        height: 100%;
        width: 50%;
        float: right;
    }

    .head {
        height: 70px;
        font-size: 25px;
        background-color: #282247;
        color: white;
        line-height: 70px;
    }

    .path {
        height: calc(100vh - 70px);
        overflow-y: auto;
        background-color: #d2ceff;
    }

    .user_path .path {
        direction: ltr;
    }

    body::-webkit-scrollbar {
        direction: ltr;
    }

    /*.body .our_path .head {*/
    /*    background-color: blue;*/
    /*}*/
    /*.body .our_path .path {*/
    /*    background-color: green;*/
    /*}*/
    /*.body .user_path .head {*/
    /*    background-color: red;*/
    /*}*/
    /*.body .user_path .path {*/
    /*    background-color: yellow;*/
    /*}*/
    .outline {
        width: fit-content;
        max-width: 80%;
        margin: auto;
    }

    .start_page, .article {
        padding: 10px;
        font-size: 22px;
    }

    .outline {
        padding: 5px;
        background: linear-gradient(45deg, #00bcdd 0%, #ff00ff 120%);
    }

    .path .outline, .path .dots {
        margin-top: 10px;
    }

    .outline div {
        background-color: #ffffff;
    }

    .path .outline:nth-child(1) {
        margin-top: 30px;
    }
}


@media (max-device-width: 900px) {
    img {
        width: 30px;
        height: 30px;
    }

    .body {
        height: 100%;
        width: 100%;
    }

    .body .our_path {
        height: 50%;
        width: 100%;
        float: top;
    }

    .body .user_path {
        height: 50%;
        width: 100%;
        float: bottom;
    }

    .body .our_path .head {
        height: 10%;
        width: 100%;
        background-color: blue;
    }

    .body .our_path .path {
        height: 90%;
        width: 100%;
        background-color: green;
        overflow-y: auto;
    }

    .body .user_path .head {
        height: 10%;
        width: 100%;
        background-color: red;
    }

    .body .user_path .path {
        height: 90%;
        width: 100%;
        background-color: yellow;
        overflow-y: auto;
    }

    .div {
        height: auto;
    }

    .div span {
        font-size: 50px;
    }

    b {
        font-size: 60px;
    }
}

@font-face {
    font-family: Gilroy;
    font-weight: bold;
    src: url("../../fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: Gilroy;
    font-weight: normal;
    src: url("../../fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url("../../fonts/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    font-style: italic;
    src: url("../../fonts/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: normal;
    src: url("../../fonts/OpenSans-Regular.ttf");
}
